#leftContainer {
    width: 100%;
    height: 100%;
    .list-container {
        height: calc(100% - 110px);
        overflow: auto;
        background-color: #fff;
    }
    .search-wrapper {
        width: 95%;
        padding: 10px 0;
    }
    .text-field-wrapper {
        padding: 10px 5px;
    }
}
@media only screen and (min-width: 427px) {
    #leftContainer{
        .h-container{
            .icons {
                display: flex;
              }
        }
        .search-wrapper {
            display: block;
        }
    }
  }

@media only screen and (max-width: 426px) {
    #leftContainer{
        .h-container{
            .icons {
                display: none;
              }
        }
        .search-wrapper {
            display: none;
        }
    }
  }