#leftContainer {
    width: 100%;
    height: 100%;
    .list-container {
        height: calc(100% - 110px);
        overflow: auto;
        background-color: #fff;
    }
    .search-wrapper {
        width: 95%;
        padding: 10px 0;
    }
    .text-field-wrapper {
        padding: 10px 5px;
    }
    .upload-backdrop{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(190, 190, 190, 0.3);
        z-index: 3;
        }
    .upload {
        background-color: #fff;
        position: absolute;
        width: 50%;
        max-width: 450px;
        height: 45%;
        left: 34%;
        top: 20%;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        border-radius: 8px;
    }
    .btn-wrapper {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .loader {
        position: static;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        .svg{
            font-size: 22px;
        }
    }
}

@media only screen and (min-width: 427px) {
    #leftContainer{
        .h-container{
            .icons {
                display: flex;
              }
        }
        .search-wrapper {
            display: block;
        }
    }
  }

@media only screen and (max-width: 426px) {
    #leftContainer{
        .h-container{
            .icons {
                display: none;
              }
        }
        .search-wrapper {
            display: none;
        }
    }
  }